/*
ESSENTIALS
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(28, 28, 28);
}

ul {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    padding: 10px 40px;
}

/*
NAVIGATION BAR
*/

.fa-film {
    top: 10px;
    right: 4px;
    position: relative;
    transform: rotate(20deg);
}

.list__items:hover {
    scale: 1.1;
    transition: all 200ms ease;
}

.link {
    text-decoration: none;
    font-weight: 900;
    font-size: 30px;
    color: rgb(207, 207, 22);
    padding: 6px;
    cursor: pointer;
}

.link__hover--effect {
    position: relative;
}

.link__hover--effect:hover::after {
    left: 0;
    width: 100%;
}

.link__hover--effect::after {
    content: "";
    position: absolute;
    bottom: -4px;
    height: 6px;
    right: 0;
    width: 0;
    background-color: rgb(207, 207, 22);
    transition: all 100ms ease-in-out;
}

.top {
    padding: 10px 20px;
}

.title {
    text-align: center;
    color: rgb(207, 207, 22);
    font-size: 100px;
}

/*
MAIN CONTENT
*/

.description {
    text-align: center;
    color: white;
    font-size: 20px;
}

.description__span {
    color: rgb(207, 207, 22);
    font-weight: 900;
}

.description__para--one {
    font-size: 30px;
    max-width: 1020px;
    margin-top: 80px;
}

.description__para--two {
    margin-top: 30px;
    font-size: 50px;
}

.down-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgb(207, 207, 22);
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}

.fa-clapperboard {
    font-size: 100px;
    color: rgb(207, 207, 22);
    text-decoration: none;
    margin-top: 20px;
    width: 100%;
}

.fa-clapperboard:hover {
    scale: 1.2;
    transition: all 200ms ease;
}

.fa-clapperboard:active {
    scale: 0.9;
    transition: all 200ms ease;
}

.icon {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icon__link {
    text-decoration: none;
    color: white;
    width: 100%;
    text-shadow: 10px 20px 15px rgba(167, 181, 43, 0.5);
    max-width: 130px;
}

.click__text {
    color: white;
    font-size: 30px;
    margin-top: 30px;
}

/*
SEARCH PAGE
*/

.search__page-title {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}

.fa-magnifying-glass {
    margin-top: 5px
}

.second__section {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 30px;
    max-width: 600px;
}

#searchQuery {
    flex: 1;
    color:rgb(207, 207, 22);
    border-color: rgb(207, 207, 22);
    border-width: 4px;
    border-style: solid;
    max-width: 500px;
    min-width: 0;
    width: 100%;
    padding: 6px;
    font-size: 30px;
    border-radius: 20px;
}

.search__button {
    flex: 1;
    background-color: rgb(207, 207, 22);
    border: none;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 30px;
    border-radius: 40px;
    max-width: 120px;
    width: 120px;
}

.search__button:hover {
    background-color: rgb(255, 255, 0);
    transition: all 200ms ease;
    scale: 1.1;
}

.search__button:active {
    background-color: rgb(255, 255, 0);
    transition: all 200ms ease;
    scale: 0.9;
}

.result__header__title {
    color: white;
    font-size: 40px;
    text-align: left;
    margin-top: 100px;
}

.result__filter__div {
    display: flex;
    justify-content: space-between;
    
}

.filter__selector {
    background-color: rgb(207, 207, 22);
    border: none;
    max-width: 150px;
    width: 100%;
    font-size: 20px;
}

.results__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding: 20px;
}

.display__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    max-width: 300px;
    max-height: 600px;
    border-radius: 10px;
    border: 4px solid rgb(207, 207, 22);
    box-shadow: 0px 30px 15px -20px rgba(255, 255, 255, 0.4);
    width: 33%;
}

.display__box:hover {
    scale: 1.1;
    transition: all 200ms ease;
}

.movie__img {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    max-height: 400px;
    width: 100%;
}

.figure__caption {
    color: white;
    font-size: 40px;
    text-align: center;
}

.movie__year, .imdb__rating, .film__type {
    color: white;
    font-size: 20px;
}

/*
FOOTER
*/

.footer__copyright {
    color: rgb(207, 207, 22);
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

.footer__copyright {
    display: flex;
    min-height: 30vh;
    flex-direction: column;
    justify-content: flex-end;

}



