/*
ESSENTIALS
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(28, 28, 28);
}

ul {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
NAVIGATION BAR
*/

.fa-film {
    top: 10px;
    right: 4px;
    position: relative;
    transform: rotate(20deg);
}

.link {
    text-decoration: none;
    font-weight: 900;
    color: rgb(207, 207, 22);
    border-left: 6px solid rgb(207, 207, 22);
    border-right: 6px solid rgb(207, 207, 22);
    padding: 6px;
}

.top {
    padding: 10px 20px;
}

.title {
    text-align: center;
    color: rgb(207, 207, 22);
    font-size: 100px;
}

/*
MAIN CONTENT
*/

.description {
    text-align: center;
    color: white;
    font-size: 20px;
}

.description__para--one {
    font-size: 30px;
    max-width: 1020px;
    margin-top: 80px;
}

.description__para--two {
    margin-top: 30px;
    font-size: 50px;
}

.down-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgb(207, 207, 22);
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}

.fa-clapperboard {
    font-size: 100px;
    color: rgb(207, 207, 22);
    text-decoration: none;
    margin-top: 10px;
    width: 100%;
}

.icon {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icon__link {
    text-decoration: none;
    color: white;
    width: 100%;
    text-shadow: 10px 20px 15px rgba(167, 181, 43, 0.5);
}

.click__text {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

/*
FOOTER
*/

.footer__copyright {
    color: rgb(207, 207, 22);
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

.footer__copyright {
    display: flex;
    min-height: 30vh;
    flex-direction: column;
    justify-content: flex-end;

}



